{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Announcements</h2>	

<div class="post">
    <h4 class="post-title">Assignment 2 Office Hours</h4>
    <small class="post-details">Posted Mar 6, 2019 @ 11:26am by Kevin Z.</small>
    <p class="post-content">Hi everyone.<br>
    <br>
    Syeda, Dharmik, and I will be hosting office hours for Assignment 2 on Tuesday, Wednesday, 
    and Friday next week in the TA office (IC 400A) at the following times:<br>
    <ul class="post-list">
    <li>Dharmik: Tuesday, March 12th - 10:00AM to 12:00PM</li>
    <li>Syeda: Wednesday, March 13th - 1:00PM to 3:00PM</li>
    <li>Kevin: Friday, March 8th - 2:00PM to 4:00PM</li>
    </ul>
    Please consider coming if you need clarification or help with 
    formatting, styling, content, or anything else.<br>
    <br>
    Kevin<br>
</div>			

<div class="post">
    <h4 class="post-title">Midterm exam grades</h4>
    <small class="post-details">Posted Mar 3, 2019 @ 9:21pm by Abbas A.</small>
    <p class="post-content">Hello everyone,<br>
    <br>
    1. Your midterm exams have been marked. You will receive your mark tomorrow, 4th March at around 11:30 am. 
    I will also talk about the exam and share statistics with you tomorrow in lecture.<br>
    <br>
    2. I will also allocate some time in lecture tomorrow and talk about assignment 2.<br>
    <br>
    thanks,<br>
    <br>
    abbas<br>
</div>

<div class="post">
    <h4 class="post-title">Assignment 2 is now available</h4>
    <small class="post-details">Posted Feb 27, 2019 @ 2:44pm by Abbas A.</small>
    <p class="post-content">Hello everyone,<br>
    <br>
    Assignment 2 is now available. Due date is 13th March @ 11:59 pm. 
    Please note that you are required to work in teams of 2 for this assignment. 
    Please stop by my office hours on Friday from 3 pm to 5 pm, if you like to discuss your assignment 2 with me 
    for some ideas etc. <br>
    <br>
    thanks,<br>
    <br>
    abbas</p>
</div>

<div class="post">
    <h4 class="post-title">Assignment 1 marks available</h4>
    <small class="post-details">Posted Feb 25, 2019 @ 12:44pm by Abbas A.</small>
    <p class="post-content">Hello folks,<br>
    <br>
    As mentioned in lecture, assignment 1 marks are now available on MarkUs.<br>
    <ul class="post-list">
        <li>My TAs have uploaded the text file for each submission and not for each person. 
            So if you worked in teams and your partner submitted the assignment, 
            ask you partner to share with you the assignment grade.</li>
        <li>Here is the rubric explaining the break down of your mark: <a href="{{url_for('static', filename='res/dummypdf.pdf')}}" target="_blank">A1-handout.pdf</a></li>
        <li>Question 1 was marked by Dharmik (<a href="mailto:dharmik.shah@mail.utoronto.ca">dharmik.shah@mail.utoronto.ca</a>)
            and Question 2 and 3 were marked by Brian (<a href="mailto:brianandrew.lam@mail.utoronto.ca">brianandrew.lam@mail.utoronto.ca</a>). 
            If you have any questions, I will ask you to email them first. 
            Please refer to the course syllabus for any remarking policy. 
            I will stick to the course syllabus and I ask you to refer to it before asking for any remarks.</li>
    </ul>
    thanks,<br>
    <br>
    abbas<br>
    </p>
</div>

<div class="post">
    <h4 class="post-title">Midterm Office Hours</h4>
    <small class="post-details">Posted Feb 6, 2019 @ 9:09am by Brian L.</small>
    <p class="post-content">Hello,<br>
    <br>
    I will be holding office hours for midterm exam questions at IC400A from 2 PM to 4 PM tomorrow 
    (Feb 7th). Good luck to you all on your midterm exam! :)<br>
    <br>
    All the best<br>
    Brian Lam<br>
</div>

<div class="post">
    <h4 class="post-title">Assignment 1 Office Hours</h4>
    <small class="post-details">Posted Jan 24, 2019 @ 8:00am by Brian L.</small>
    <p class="post-content">Hello everyone,<br>
    <br>
    I will be holding office hours tomorrow (Jan 25th @ 10 AM - 12 PM) for Assignment 1 questions. 
    I will be in the TA office (IC400A).<br>
    <br>
    All the best,<br>
    Brian Lam<br>
</div>

<div class="post">
    <h4 class="post-title">Assignment 1 is posted.</h4>
    <small class="post-details">Posted Jan 22, 2019 @ 5:41am by Abbas A.</small>
    <p class="post-content">Hello everyone,<br>
    <br>
    Assignment 1 is posted. You will be working in teams of two for assignment 1. 
    You can signup for groups on Piazza. Piazza has a feature for team search, 
    that I recommend that you make use of, if you do not have someone to work with.<br>
    <br>
    The Piazza signup link is: piazza.com/mail.utoronto.ca/spring2019/cscb20<br>
    <br>
    I will have to cancel my office hours for this Friday, 25th January, however, 
    I will have a TA to hold office hours instead from 3pm to 5pm.<br>
    <br>
    thanks,<br>
    <br>
    abbas<br>
</div>
{% endblock %}