{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Lectures</h2>

<div class="post">
    <h3 class="post-title">Week 10 (JavaScript, Intro to JQuery)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week10_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week10.pdf</a><br>
    <br>
    <b>Recommended Videos:</b><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">Coding Tic Tac Toe in JavaScript - Part 1</a>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 9 (Flexbox in CSS, Media Queries, Intro to JavaScript)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week9_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week9.pdf</a><br>
    <br>
    <b>Recommended Videos:</b><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">Flexbox CSS in 20 Minutes</a><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">JavaScript Fundamentals For Beginners</a>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 8 (Intro to HTML and CSS)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week8_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week8.pdf</a><br>
    <br>
    <b>Recommended Videos:</b><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">HTML Crash Course For Absolute Beginners (Part 1)</a><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">HTML Crash Course For Absolute Beginners (Part 2)</a>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 7 (Reading Week, No Lecture)</h3>
</div>

<div class="post">
    <h3 class="post-title">Week 6 (Midterm Exam)</h3>
</div>

<div class="post">
    <h3 class="post-title">Week 5 (Intro to Web Development)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week5_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week5.pdf</a><br>
    <br>
    <b>Readings and Citations:</b><br>
        <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">stuff.mit.edu - IntroHTML.ppt</a><br>
    <br>
    <b>Recommended Videos:</b><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">Python Flask Tutorial: Full-Featured Web App Part 1 - Getting Started</a><br>
        <a href="https://youtube.com/watch?v=oHg5SJYRHA0">Python Flask Tutorial: Full-Featured Web App Part 2 - Templates</a>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 4 (SQL Queries)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week4_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week4.pdf</a><br>
    <br>
    <b>Readings and Citations:</b><br>
        <a href="https://google.com">TutorialsPoint - Creating SQL Queries</a><br>
        <a href="https://google.com">Codecademy - Learn SQL</a>
    </p>
</div>		

<div class="post">
    <h3 class="post-title">Week 3 (Outro from Relational Algebra, Intro to SQL Queries)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week3_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week3.pdf</a>
    </p>
</div>				

<div class="post">
    <h3 class="post-title">Week 2 (Relational Algebra)</h3>
    <p><b>Pre-Lecture Material:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week2_pre.pdf</a><br>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20week2.pdf</a><br>
    <br>
    <b>Readings and Citations:</b><br>
        <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">infolab.stanford.edu - relational_algebra.pdf</a>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 1 (Introduction)</h3>
    <p>
    <b>Lecture Notes:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">b20_intro.pdf</a><br>
    <a href="url_for('syllabus')">Link to Course Syllabus</a>
    </p>
</div>
{% endblock %}
