{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Quizzes</h2>
<p>Quizzes will be available for about 16 - 24 hours on the date of release.
Once starting a quiz, you will have between 45 and 60 minutes to complete it.</p>
<br>

<h3 class="content-title">Quiz 1</h3>
<h4 class="content-subtitle">Date Released: Jan 25, 2019</h5>
<p><b>Topics Covered</b>: Relational Algebra, SQL Queries</p>
<p>This quiz has finished.</p>
<br>

<h3 class="content-title">Quiz 2</h3>
<h4 class="content-subtitle">Date Released: Feb 8, 2019</h5>
<p><b>Topics Covered</b>: SQL Queries</p>
<p>This quiz has finished.</p>
<br>

<h3 class="content-title">Quiz 3</h3>
<h4 class="content-subtitle">Date Released: Mar 15, 2019</h5>
<p><b>Topics Covered</b>: HTML, CSS, JavaScript</p>			
<p>This quiz has finished.</p>
<br>

<h3 class="content-title">Quiz 4</h3>
<h4 class="content-subtitle">Date Released: Mar 29, 2019</h5>
<p><b>Topics Covered</b>: HTML, CSS</p>			
<p>This quiz has finished.</p>
{% endblock %}