{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Your Grades</h2>
<div class="table">
      <div class="table-row">
         <div class="table-head">Username</div>
         <div class="table-head">A1</div>
         <div class="table-head">A2</div>
         <div class="table-head">A3</div>
         <div class="table-head">Q1</div>
         <div class="table-head">Q2</div>
         <div class="table-head">Q3</div>
         <div class="table-head">Q4</div>
         <div class="table-head">Midterm</div>
         <div class="table-head">Final</div>
      </div>

      {% for row in rows %}
      <div class="table-row">
         <div class="table-cell">{{row["username"]}}</div>
         <div class="table-cell">{{row["a1"]}}</div>
         <div class="table-cell">{{row["a2"]}}</div>
         <div class="table-cell">{{row['a3']}}</div>
         <div class="table-cell">{{row['q1']}}</div>
         <div class="table-cell">{{row['q2']}}</div>
         <div class="table-cell">{{row['q3']}}</div>
         <div class="table-cell">{{row['q4']}}</div>
         <div class="table-cell">{{row['midterm']}}</div>
         <div class="table-cell">{{row['final']}}</div>
      </div>
      {% endfor %}
</div>
<br>

<h3 class="content-title">Submit Remark Request</h3>
<form method="post">
    <p>Assessment to Remark: <select name="assessment">
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="Q1">Q1</option>
        <option value="Q2">Q2</option>
        <option value="Q3">Q3</option>
        <option value="Q4">Q4</option>
        <option value="Midterm">Midterm</option>
        <option value="Final">Final</option>
    </select>
    <p>Please give a justified reason as to why you deserve a remark:</p>
    <textarea class="user-input" name="request" ></textarea><br>
    <input type=submit value=Submit>
</form>
{% endblock %}
