{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Course Team</h2>
<p>The course team consists of one instructor and five teaching assistants (TAs).
    The instructor will be responsible for conducting lectures and marking exams/remarks.
    The TAs will be responsible for conducting tutorials and marking assignments/exams.</p>		

<br>

<h3 class="content-title">Instructor Info</h3>
<p><b><u>Abbas Attarwala</u></b></p>
<p><b>Email:</b> <a href="mailto:abbas.attarwala@utoronto.ca">abbas.attarwala@utoronto.ca</a></p>
<p><b>Office Hours:</b> Monday 11:30am - 2:30pm, Friday 3:00pm - 5:00pm @ IC349</p>
<p><b>Lecture:</b> Mondays, 9:00am - 11:00am @ HL001</p>
<p><b>Phone:</b> 416-208-5108</p>

<br>

<h3 class="content-title">TA Info</h3>
<p><b><u>Kevin Zhang</u></b></p>
<p><b>Email:</b> <a href="mailto:kevin.zhang@mail.utoronto.ca">kevin.zhang@mail.utoronto.ca</a></p>

<p><b><u>Suhailah (Syeda) Rahman</u></b></p>
<p><b>Email:</b> <a href="mailto:suhailah.rahman@mail.utoronto.ca">suhailah.rahman@mail.utoronto.ca</a></p>

<p><b><u>Dharmik Shah</u></b></p>
<p><b>Email:</b> <a href="mailto:dharmik.shah@mail.utoronto.ca">dharmik.shah@mail.utoronto.ca</a></p>

<p><b><u>Xia Zhongyang</u></b></p>
<p><b>Email:</b> <a href="mailto:xia.zhongyang@mail.utoronto.ca">xia.zhongyang@mail.utoronto.ca</a></p>

<p><b><u>Brian Lam</u></b></p>
<p><b>Email:</b> <a href="mailto:brianandrew.lam@mail.utoronto.ca">brianandrew.lam@mail.utoronto.ca</a></p>
{% endblock %}