{% extends 'base.html' %}

{% block content %}
<h2 class="content-title">Tutorials</h2>

<div class="post">
    <h3 class="post-title">Week 10 Material</h3>
    <h4 class="content-subtitle">Intro to JavaScript</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week10_handout.pdf</a><br>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 9 Material</h3>
    <h4 class="content-subtitle">Intro to Flexbox</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week9_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week9_soln.zip</a><br>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 8 Material</h3>
    <h4 class="content-subtitle">Intro to CSS</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week8_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week8_soln.zip</a><br>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 7 (Reading Week, No Material)</h3>
</div>

<div class="post">
    <h3 class="post-title">Week 6 Material</h3>
    <h4 class="content-subtitle">Intro to Flask</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week6_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week6_soln.zip</a><br>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 5 Material</h3>
    <h4 class="content-subtitle">SQLite - Views</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week5_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week5_soln.html</a><br>
    </p>
</div>

<div class="post">
    <h3 class="post-title">Week 4 Material</h3>
    <h4 class="content-subtitle">SQLite - Extracting Data From Databases</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week4_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week4_soln.sql</a><br>
    </p>
</div>	

<div class="post">
    <h3 class="post-title">Week 3 Material</h3>
    <h4 class="content-subtitle">SQLite - The SELECT Statement</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week3_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week3_soln.pdf</a><br>
    </p>
</div>			

<div class="post">
    <h3 class="post-title">Week 2 Material</h3>
    <h4 class="content-subtitle">Python - Variables</h4>
    <p>
    <b>Handout:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week2_handout.pdf</a><br>
    <br>
    <b>Solutions:</b> <a href="{{url_for('static', filename='res/dummypdf.pdf')}}">week2_soln.py</a><br>
    </p>
</div>
{% endblock %}